{%extends "home/__base.html" %} 
{% block title %} Index | {{block.super}} {% endblock %} 
{% block home_menu %} active {% endblock %} 
{% block javascript %}{{block.super}}
<script>
jQuery(document).ready(function($){
    var $timeline_block = $('.timeline-block');

    //hide timeline blocks which are outside the viewport
    $timeline_block.each(function(){
        if($(this).offset().top > $(window).scrollTop()+$(window).height()*0.75) {
            $(this).find('.timeline-point, .timeline-content').addClass('is-hidden');
        }
    });

    //on scolling, show/animate timeline blocks when enter the viewport
    $(window).on('scroll', function(){
        $timeline_block.each(function(){
            if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.timeline-point').hasClass('is-hidden') ) {
                $(this).find('.timeline-point, .timeline-content').removeClass('is-hidden').addClass('bounce-in');
            }
        });
    });
    // Add like functionality on click of the heart icon
    $(".like-icon").on('click',function(event) {
        var requestID = $(event.target).attr('id');
        var matches = requestID.match(/like([0-9]+)/);
        requestID = matches[1];
        if($(this).hasClass("clicked")){
            $.get('{% url "unlike" %}', {requestID: requestID}, function(data){
                   $('#likecounter'+requestID).html(data);
                   $('#like'+requestID).removeClass('fa-heart text-danger clicked').addClass('fa-heart-o')
            });
        } else {
            $.get('{% url "like" %}', {requestID: requestID}, function(data){
                   $('#likecounter'+requestID).html(data);
                   $('#like'+requestID).removeClass('fa-heart-o').addClass('fa-heart text-danger clicked')
            });
        }
    });
});
</script>
{% endblock %}
{% block content %}
<!-- START PAGE CONTENT -->
<div class="container-fluid container-fixed-lg">
	<div class="timeline-container top-circle">
	  <section class="timeline">
	    {% for item in requested %}
			{% include "home/songlist.html" %} 
		{% endfor %}
		</section>
	</div>
</div>
{% endblock %}
