{%extends "home/__base.html" %}
{% block title %} {{location.name}} | {{block.super}} {% endblock %} 
{% block location_menu %} active {% endblock %}
{% block location_menu_icon %} bg-warning {% endblock %}
{% block breadcrumbs %}<li><a href="#" class="active">{{location.name}}</a>{% endblock %}
{% block javascript %}{{block.super}}
{% endblock %}
{% block content %}
<div class="container-fluid container-fixed-lg">
    <div class="timeline-container top-circle">
      <section class="timeline">
        {% for item in archive %}
            {% cycle 'danger' 'success' 'active' 'warning' 'info' 'primary' as rowcolors silent %}
            {% include "home/songlist.html" %} 
        {% endfor %}
      </section>
    </div>
</div>
{% endblock%}
