{%extends "home/__base.html" %}
{% block title %} Login | {{block.super}} {% endblock %}
{% block login_menu %} active {% endblock %}
{% block breadcrumbs %}
<li><a href="#" class="active">Login</a></li>
{% endblock %}
{% block content %} 
	<div class="login-container">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 sm-p-l-15 sm-p-r-15">
          <!-- <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22"> -->
          {%if invalid %}
          <p class="text-danger">Invalid Login</p>
          {% endif %}
          <h2 class="">Sign in</h2>
          <!-- START Login Form -->
          <form id="form-login" class="p-t-15" role="form" action="{% url "login" %}" method="POST">
	        {% csrf_token %}
            <!-- START Form Control-->
            <div class="form-group form-group-default col-md-7">
              <label>Email Address:</label>
              <div class="controls">
                <input type="text" name="username" placeholder="" class="form-control" required>
              </div>
            </div>
            <div class="col-md-7">
	            <button class="btn btn-primary btn-block btn-lg btn-cons m-t-10 m-b-30" type="submit">Sign in</button>
	            <a class="btn btn-block btn-lg btn-complete btn-cons" href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
				<a class="btn btn-block btn-lg btn-warning btn-cons" href="{% url "register" %}">Sign Up</a>
			</div>
          </form>
   	</div>
{% endblock%}