<button class="list-group-item half-gutter" type="button" data-toggle="collapse" data-target="#collapse_add{{forloop.counter}}">
    <div class="col-xs-2 no-gutter">
        <img class="img-responsive img-rounded" src="{{item.song.album_art_url}}">
    </div>
    <div class="col-xs-10 half-gutter">
        <div class="list-group-item-heading h5 text-nowrap text-nowrap-overflow">{{item.song.title}}</div>
        <div class="col-xs-5 no-gutter">
            <div class="list-group-item-text">{{item.song.artist_name}}</div>
        </div>
        <div class="col-xs-5 no-gutter pull-right">
            <div class="list-group-item-text small text-right no-gutter"><small><small><small>{{item.user.first_name}} {{item.user.last_name}}<br>{{item.user.userprofile.team_name}}<br>{{item.requestlist.location.name}}</small></small>
                </small>
            </div>
        </div>
    </div>
</button>
