{% extends "home/__base.html" %} 
{% block title %} Search | {{block.super}} {% endblock %}
{% block javascript %}{{block.super}}{% endblock %}
{% block content %}
{% for track in tracks.items %}
<div class="container">
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="card small" id="item{{forloop.counter}}" style="height:220px;">
                <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{track.album.images.1.url}}">
                </div>
                <div class="card-content text-nowrap-overflow">
                    <span class="card-title activator grey-text text-darken-4">{{track.name}}</span>
                    <br/><a href="#" class="text-nowrap-overflow">{% for artist in track.artists %}{%if forloop.first %}{{artist.name}}{%else%} - {{artist.name}}{%endif%}{% endfor %}</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4 text-nowrap-overflow">{{track.name}}</span>
                    <p>Request <b>{{track.name}}</b> by {{track.artists.0.name}} at {{user.userprofile.location.name}}?</p>
                    <form id="request-form" action="{% url "request" %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="track_title" value="{{track.name}}">
                        <input type="hidden" name="track_spotify_id" value="{{track.id}}">
                        <input type="hidden" name="album_art" value="{{track.album.images.0.url}}">
                        <input type="hidden" name="artist_name" value="{{track.artists.0.name}}">
                        <br/>
                        <button type="button" class="btn-large waves-effect waves-light red left card-title"><i class="material-icons">clear</i></button>
                        <button type="submit" class="btn-large waves-effect waves-light right"><i class="material-icons">done</i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock%}
