<button href="" class="list-group-item half-gutter">
    <div class="col-xs-2 no-gutter">
        <img class="img-responsive img-rounded" src="https://i.scdn.co/image/6c751d61a730ab14dca55b1c7d3ce1f7f838aa23">
    </div>
    <div class="col-xs-10 half-gutter">
        <div class="list-group-item-heading h5 text-nowrap text-nowrap-overflow">GDFR (feat. Sage The Gemini & Lookas)</div>
        <div class="col-xs-5 no-gutter">
            <div class="list-group-item-text">Catfish & The Bottlemen</div>
        </div>
        <div class="col-xs-5 no-gutter pull-right">
            <div class="list-group-item-text small text-right no-gutter"><small><small><small>Christopher Roney<br>Bone Thugs & Hermione<br>Mad River</small></small>
                </small>
            </div>
        </div>
</button>
