<div class="timeline-block">
  <div class="timeline-point success">
    <i class="fa fa-music"></i>
  </div><!-- timeline-point -->
  <!-- timeline-point -->
  <div class="timeline-content">
    <div class="card share full-width">
      <div class="card-header clearfix">
        <!-- <div class="user-pic">
          <img alt="Profile Image" width="33" height="33" data-src-retina="assets/img/profiles/5x.jpg" data-src="assets/img/profiles/5.jpg" src="assets/img/profiles/5x.jpg">
        </div> -->
        <h5>{{item.user.first_name}} {{item.user.last_name}}</h5>
        <h6>{{item.user.userprofile.team_name}}
          <span class="location semi-bold pull-right"><i class="fa fa-map-marker"></i> {{item.requestlist.location.name}}</span>
        </h6>
      </div>
      <div class="card-description overflow-ellipsis" style="background-image: url('{{gradient}}'),url('{{item.song.album_art_url}}'); background-size: 100% 100%,cover; background-repeat: repeat-x; height:140px">
        <span class="text-white font-montserrat fs-11 pull-bottom p-b-50"><span class="h4">{{item.song.title}}</span><br/>{{item.song.artist_name}}</p>
      </div>
      <div class="card-footer clearfix">
        <div class="time">{{item.date_requested|timesince }} ago</div>
        <ul class="reactions">
          <li><span id="likecounter{{item.id}}">{{item.likes}}</span> Likes <span class="h4"><i id="like{{item.id}}" class="fa fa-heart-o like-icon"></i></span></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- timeline-content -->
</div>