/* Header 
------------------------------------
*/
.header {
  position: relative;
  display: block;
  height: 60px;
  width: 100%;
  padding: 0 20px 0 0;
  z-index: 800;
  background-color: #fff;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
}
.header a {
  color: #3b4751;
}
.header a.btn {
  color: #8b91a0;
}
.header a.btn-warning {
  color: #eaeef1;
}
.header .pull-left,
.header .pull-right {
  z-index: 10;
  position: relative;
}
.header .header-inner {
  height: 60px;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
}
.header .header-inner .toggle-sidebar {
  display: none;
}
.header.transparent {
  background-color: transparent !important;
}
.header .brand {
  vertical-align: middle;
  width: 280px;
  text-align: center;
}
.header .bubble {
  border-radius: 100%;
  height: 14px;
  width: 14px;
  background-color: rgba(226, 32, 91, 0.77);
  color: #fff;
  position: relative;
  top: -6px;
  float: right;
  right: -5px;
}
.header .notification-list {
  display: inline-block;
}
.header .search-link {
  display: inline-block;
  margin-left: 15px;
  color: #626262;
  opacity: .7;
  font-size: 16px;
  font-family: wf_segoe-ui_light, wf_segoe-ui_normal, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header .search-link i {
  margin-right: 15px;
  font-size: 16px;
}
.header .search-link:hover {
  opacity: 1;
}